<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
	<title>JGIS [Version Beta]</title>
	<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
	<script src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.css' rel='stylesheet' />

	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.min.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
<!--[if lt IE 9]>
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.ie.css' rel='stylesheet' />
  <![endif]-->
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />

  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.4.10/leaflet.draw.js'></script>



  <style>
  	body { margin:0; padding:0; }
  	#map { position:absolute; top:0; bottom:0; width:100%; }
  	.leaflet-control-draw-measure {
  		background-image: url('/images/measure-control.png');
  		#background-size:     cover;                     
  		background-repeat:   no-repeat;
  		background-position: center center;
  	}
      
    .point-label {  white-space: nowrap;background:null;}
    
</style>
</head>
<body>
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />

	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src='https://api.mapbox.com/mapbox.js/plugins/turf/v2.0.2/turf.min.js'></script>
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-hash/v0.2.1/leaflet-hash.js'></script>

	<script src="https://unpkg.com/leaflet.measurecontrol@1.0.0"></script>

	<div id='map'></div>

	<script>
		L.mapbox.accessToken = 'pk.eyJ1IjoidGVobm5uIiwiYSI6ImNpZzF4bHV4NDE0dTZ1M200YWxweHR0ZzcifQ.lpRRelYpT0ucv1NN08KUWQ';
		var map = L.mapbox.map('map');
	//base map
	var googleSat = L.tileLayer('http://{s}.google.com/vt/lyrs=s&x={x}&y={y}&z={z}', {
		maxZoom: 20,
		subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
	});
	var googleHybrid = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
		maxZoom: 20,
		subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
	});
	var googleStreet = L.tileLayer('http://{s}.google.com/vt/lyrs=m&x={x}&y={y}&z={z}', {
		maxZoom: 20,
		subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
	});
	var osmStreet = L.mapbox.tileLayer('mapbox.streets');
    // end base map

    map.setView([13.539,100.745],6);
    var hash = new L.Hash(map);
    L.control.locate().addTo(map);
    //L.Control.measureControl().addTo(map);

    var houseFeature = L.featureGroup();

    L.control.layers({

    	'Google Street':googleStreet,
    	'Google Hybrid':googleHybrid.addTo(map),
    	'Google Sat':googleSat,
    	'OSM Street':osmStreet
    },{
        'หลังคาเรือน':houseFeature.addTo(map)
    }).addTo(map);




    var featureGroup = L.featureGroup();

    var drawControl = new L.Control.Draw({
    	edit: {
    		featureGroup: featureGroup
    	},
    	draw:{
    		polyline:false,
    		polygon:false,
    		circle:false,
    		rectangle:false
    	}
    }).addTo(map);

    var houseGroup = L.featureGroup().addTo(map);
    var labelLayer = L.featureGroup().addTo(map);

   
    $.getJSON('http://localhost:3000/house',function(dataServer){
    	//console.log(dataServer.features);
    	dataServer.features.forEach(function(data){
    		if(data.geometry.coordinates[0] !== null){
    			L.mapbox.featureLayer(data).addTo(houseFeature);

                var coords = data.geometry.coordinates;
                L.marker([coords[1],coords[0]], 
                    {icon:L.divIcon({className:'point-label', html:'<span style="background-color:#FFF8DC;">'+data.properties.hno+' หมู่ '+data.properties.villno+'<span>'})}
                    )
                .addTo(labelLayer)

            }
        });

    	var popupcontent = '<input type="text" class="txt"/><div class="show" style="overflow: scroll;min-width: 220px;"></div>';
    	popupcontent+= '<div class="btn-add" style="display:none"><button>บันทึก</button></div>'
    	map.on('draw:created', function(e) {

    		var url = $(location).attr('href');	
    		featureGroup.addLayer(e.layer);
    		if(e.layerType === 'marker'){
    			var point = featureGroup.toGeoJSON();
    			point = point.features[point.features.length-1]; 
    			point.properties['marker-symbol']='warehouse';  
    			point.properties['marker-color']='#0000FF';      		
    			var house = L.mapbox.featureLayer(point).addTo(houseGroup);
    			house.eachLayer(function(layer){
    				
    				var pop = layer.bindPopup(popupcontent,{maxWidth:'auto'});
    				layer.openPopup();

    				$('.txt').on('keypress',function(e){
    					if(e.keyCode!==13) return;
    					$('.show').html('');
    					var s = $(this).val();
    					dataServer.features.forEach(function(found){
    						if(found.properties.hno == s){
    							var hcode = found.properties.hcode;

    							$('.show').append('<a href=# class ="hc" data-hcode='+hcode+'>'+found.properties.title+'<a><br>');

    						}
    					})//loop

    					$('.hc').click(function(){
    						var hcode = $(this).data("hcode");
    						$('.txt').val($(this).text());
    						$('.show').html('')
    						$('.btn-add').toggle()
    						$('.btn-add').click(function(){


    							var json = {
    								'hcode':hcode,
    								'ygis':layer.feature.geometry.coordinates[1],
    								'xgis':layer.feature.geometry.coordinates[0]
    							}

    							$.ajax({
    								type: 'POST',
    								url: 'http://localhost:3000/add',
    								data: JSON.stringify(json),
    								contentType: "application/json; charset=utf-8",
    								dataType: "json"
    							}).done(function(data){ 

    								console.log(data);       
    								window.location.href= url;
                                    if(data.save==='ok'){
                                        location.reload();
                                    }else{
                                        alert('error')
                                    }
                                });
    							
    							
    							//location.reload();
    						});

    					});//click



    				});//keypress

    				$('.txt').click(function(){
    					$(this).select();
    				});//click
    				pop.on('popupclose',function(){
    					layer.remove();
    				})
    				

      			});//loop layer

    		}
    });// end draw



  });//end getjson

    map.on('overlayadd', function(layer){
        console.log('add -'+layer.name)
        if(layer.name==='หลังคาเรือน'){
            labelLayer.addTo(map)
        }
    });

    map.on('overlayremove', function(layer){
        console.log('remove -'+ layer.name)
        if(layer.name==='หลังคาเรือน'){
            labelLayer.remove();
        }
    });




</script>
</body>
</html>